{{trip-map trips=model}}

<div class="section section--index">
  <div class="container">
    <div class="trips">
      <h2 class="trips__heading">Share Your View</h2>
      <p>(click on a location's picture to view on map)</p>
      <div class="trip-wrapper">
        {{#each model as |trip|}}
        <div class={{trip.id}}>
          <div class="trip">
            <div class="trip__cover">
              <img src={{trip.photoUrl}} class="trip__cover__pic">
              <button class="pic-button" {{action "zoomByLoc" trip}}>{{trip.location}}</button>
            </div>
            <div class="trip__pics">
              <p class="chevron"><span class="fa fa-chevron-left"></span></p>
              <div class="pic-grid">
                {{#if trip.photoUrls}}
                {{#each trip.photoUrls as |pic|}}
                <div class="pic-grid__item">
                  <div class="pic-wrapper">
                    <img src="{{pic}}" class="small-pic">
                    {{!-- <button class="modal-button" {{action "toggleModal"}}></button>
                    <button class="favorite {{if (contains pic currentUser.favorites) "favorite--active"}}" {{action "favorite" pic}}> <span class="fa {{if (contains pic currentUser.favorites) "fa-star" "fa-star-o"}}"></span> </button> --}}
                  </div>
                </div>
                {{#if isShowingModal}}
                  {{#modal-dialog close="toggleModal"}}
                    <img src="{{pic}}">
                    <p>By {{trip.user}}</p>
                  {{/modal-dialog}}
                  {{/if}}
                {{/each}}
                {{else}}
                <div class="no-pics-wrapper">
                  <p class="no-pics">No photos found for this trip.</p>
                </div>
                  {{/if}}
                </div>
                <p class="chevron"><span class="fa fa-chevron-right"></span></p>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
